# Entorno virtual
venv/
.venv/
env/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Django
db.sqlite3
db.sqlite3-journal
db.sqlite3.bak*
media/
staticfiles/
*.log

# Backups
backups_seguridad/
*.bak
*.bak.*

# Archivos pesados / no versionables
*.img
*.iso

# OS / Editores
.DS_Store
.vscode/
.idea/

# Entorno
.env
.env.*
reporte_recuperacion.txt
salida_recuperador.txt
